.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._一级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.table_cell {
}
._连接 {
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.line {
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.box_1 {
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
}
._形状 {
}
.box_11 {
}
.box_3 {
}
.box_2 {
}
.ellipse {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
._图片_ {
}
.label {
  font-size:14px;
  text-align:left;
}
.icon {
}
.flow_shape {
}
.paragraph {
  text-align:left;
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.horizontal_line {
}
.shape {
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.form_disabled {
}
.el-button {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:center;
}
.image {
}
.inputed {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
.icon1 {
}
.paragraph1 {
  text-align:left;
}
.default_button {
}
.primary_button1 {
  color:#FFFFFF;
}
.text_field {
  color:#000000;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.marker {
  color:#FFFFFF;
}
.image1 {
  color:#000000;
}
.checkbox1 {
  text-align:left;
}
._34号字_单行列表内，左方主标题文字字） {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
._24号字_最小说明文本，例如列表时间态、版权信息等） {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
._形状1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.ellipse1 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
._图片 {
}
.box_12 {
}
.refs-webm-wechat {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
textarea, select, input, button { outline: none; }
